@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Employee/addEmp" method="post">
    Name: <input type="text" name="name" /><br />
    Job:  <input type="text" name="job" /><br />
    Salary: <input type="number" name="salary" /><br />
    Age:    <input type="number" name="age" /><br />
    AccountNo: <input type="number" name="accountNo" /><br />
    <input type="submit" value="Add Employee" /><br />

</form>
